@font-face {
	font-family: 'Sonder';
	src: url(../../assets/fonts/SonderRegular.woff2) format('woff2'),
	url(../../assets/fonts/SonderRegular.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}